/* reset browser styles */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.2;
}
ol {
  padding-left: 1.4em;
  list-style: decimal;
}
ul {
  padding-left: 1.4em;
  list-style: square;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* end reset browser styles */

/* standard tags */

article {
  margin: 0 auto;
  width: 800px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Code Pro", monospace;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

p {
  display: block;
  font-size: 1.1em;
}

/* site navigation */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  width: 830px;
  background-color: #fff;
  margin: 0 auto;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-logo {
  font-size: 1.3em;
  font-family: "Source Code Pro", monospace;
  letter-spacing: -1px;
  padding: 10px 10px 10px 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.nav-logo a {
  text-decoration: none;
  color: black;
}

.nav-links {
  font-size: 1.3em;
  font-family: "Source Code Pro", monospace;
  letter-spacing: -1px;
  justify-content: space-around;
  text-decoration: none;
  padding: 22px 20px 22px 12px;
}

.nav-item {
  padding: 10px 10px 10px 10px;
  margin-right: 10px;
  margin-left: 10px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li:hover {
  /* background-color: rgba(126, 149, 252, 0.2); */
  background-color: rgba(48, 78, 90, 0.2);
  border-radius: 1%;
  z-index: 0;
}

nav .nav-logo:hover {
  /* background-color: rgba(126, 149, 252, 0.2); */
  background-color: rgba(48, 78, 90, 0.2);
  border-radius: 5%;
  z-index: 0;
}

/* Home Banner & Headings */

.main_banner {
  background-color: #304e5a;
  border: 10px solid #e5e3dc;
  height: 325px;
}

.main_border {
  border: 40px solid #304e5a;
}

.main_heading {
  margin: auto;
  font-family: "Source Code Pro", monospace;
  width: 800px;
  text-align: center;
  padding: 100px;
  color: #e5e3dc;
}

.main_heading h2 {
  padding-top: 20px;
}

/* join page styles */

.article_heading {
  margin: auto;
  width: 800px;
  padding-top: 50px;
  font-family: "Lato", sans-serif;
}

.subtitle {
  font-size: 1.35em;
}

.article_image {
  width: 100%;
}

.image_credit {
  text-align: right;
}

.image_container {
  padding-top: 20px;
  padding-bottom: 20px;
}
